on init
    # Disable UFS powersaving
    write /sys/devices/soc/${ro.boot.bootdevice}/clkscale_enable 0
    write /sys/devices/soc/${ro.boot.bootdevice}/clkgate_enable 0
    write /sys/devices/soc/${ro.boot.bootdevice}/${ro.boot.bootdevice}:ufs_variant/pm_qos_enable 0
    write /sys/module/lpm_levels/parameters/sleep_disabled Y

on boot
    # Update foreground and background cpusets
    write /dev/cpuset/foreground/cpus 0-3
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/top-app/cpus 0-3

    # add a cpuset for the camera daemon
    # we want all cores for camera
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-3
    write /dev/cpuset/camera-daemon/mems 0
    chown system system /dev/cpuset/camera-daemon
    chown system system /dev/cpuset/camera-daemon/tasks
    chmod 0664 /dev/cpuset/camera-daemon/tasks

    # Enable sched boost
    write /proc/sys/kernel/sched_boost 1

on enable-low-power

    # Set sync wakee policy tunable
    write /proc/sys/kernel/sched_prefer_sync_wakee_to_waker 1

  #Update the cpu profiles to default interactive
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 300
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay "22000 480000:10000 729600:32000 1228800:30000"
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 42000
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 307200
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack -1
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "45 480000:35 652800:49 844800:60 960000:75 1113600:85 1228800:90 1401600:95 1593600:100"
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 45000
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/ignore_hispeed_on_notif 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/fast_ramp_down 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/align_windows 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_migration_notif 1
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/enable_prediction 1
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_sched_load 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/max_freq_hysteresis 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration 0
	
	
# Configure governor settings for big cluster
	write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "interactive"
	write /sys/devices/system/cpu/cpu2/cpufreq/interactive/go_hispeed_load 300
	write /sys/devices/system/cpu/cpu2/cpufreq/interactive/above_hispeed_delay "40000 940800:55000 1248000:33000 1632000:32000"
	write /sys/devices/system/cpu/cpu2/cpufreq/interactive/timer_rate 40000
	write /sys/devices/system/cpu/cpu2/cpufreq/interactive/hispeed_freq 307200
	write /sys/devices/system/cpu/cpu2/cpufreq/interactive/timer_slack -1
	write /sys/devices/system/cpu/cpu2/cpufreq/interactive/target_loads "35 729600:30 940800:32 1113600:35 1248000:37 1401600:65 1632000:72 1708800:85 1824000:99 1996800:99 2150400:100"
	write /sys/devices/system/cpu/cpu2/cpufreq/interactive/min_sample_time 40000
	write /sys/devices/system/cpu/cpu2/cpufreq/interactive/ignore_hispeed_on_notif 1
	write /sys/devices/system/cpu/cpu2/cpufreq/interactive/boost 0
	write /sys/devices/system/cpu/cpu2/cpufreq/interactive/fast_ramp_down 0
	write /sys/devices/system/cpu/cpu2/cpufreq/interactive/align_windows 0
	write /sys/devices/system/cpu/cpu2/cpufreq/interactive/use_migration_notif 1
	write /sys/devices/system/cpu/cpu2/cpufreq/interactive/enable_prediction 1
	write /sys/devices/system/cpu/cpu2/cpufreq/interactive/use_sched_load 0
	write /sys/devices/system/cpu/cpu2/cpufreq/interactive/max_freq_hysteresis 0
	write /sys/devices/system/cpu/cpu2/cpufreq/interactive/boostpulse_duration 0
	write /proc/sys/kernel/sched_boost 1
	write /sys/module/cpu_boost/parameters/input_boost 1
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:729600 2:940800"
   	write /sys/module/cpu_boost/parameters/input_boost_ms 50
	
	# Enable sultans thermal
	write /sys/kernel/msm_thermal/enabled 0
	write /sys/kernel/msm_thermal/zone0 "1401600 1824000 46 43"
	write /sys/kernel/msm_thermal/zone1 "1324800 1824000 49 46"
	write /sys/kernel/msm_thermal/zone2 "1324800 1632000 52 49"
	write /sys/kernel/msm_thermal/zone3 "1324800 1555200 54 52"
	write /sys/kernel/msm_thermal/zone4 "1324800 1478400 56 54"
	write /sys/kernel/msm_thermal/zone5 "1324800 1401600 58 56"
	write /sys/kernel/msm_thermal/zone6 "1324800 1324800 60 58"
	write /sys/kernel/msm_thermal/zone7 "1190400 1248000 63 60"
	write /sys/kernel/msm_thermal/zone8 "1036000 1036000 70 63"
	write /sys/kernel/msm_thermal/sampling_ms 8000

	# Configure sched tweaks
	write /proc/sys/kernel/sched_latency_ns 10000000
	write /proc/sys/kernel/sched_migration_cost_ns 500000
	write /proc/sys/kernel/sched_min_granularity_ns 900000
	write /proc/sys/kernel/sched_nr_migrate 48
	write /proc/sys/kernel/sched_rr_timeslice_ms 10
	write /proc/sys/kernel/sched_rt_period_us 1000000
	write /proc/sys/kernel/sched_rt_runtime_us 950000
	write /proc/sys/kernel/sched_boost 1
   	write /proc/sys/kernel/sched_upmigrate 95
   	write /proc/sys/kernel/sched_downmigrate 90
   	write /proc/sys/kernel/sched_freq_inc_notify 400000
  	write /proc/sys/kernel/sched_freq_dec_notify 400000
 	write /proc/sys/kernel/sched_spill_nr_run 3
 	write /proc/sys/kernel/sched_init_task_load 100
	write /proc/sys/kernel/sched_downmigrate 70
	write /proc/sys/kernel/sched_upmigrate 95
	write /proc/sys/kernel/sched_freq_inc_notify 400000
	write /proc/sys/kernel/sched_freq_dec_notify 400000
	write /proc/sys/kernel/sched_select_prev_cpu_us 0

    # Enable bus-dcvs
    write /sys/class/devfreq/soc:qcom,cpubw/governor "bw_hwmon"
    write /sys/class/devfreq/soc:qcom,cpubw/polling_interval 50
    write /sys/class/devfreq/soc:qcom,cpubw/min_freq 1525
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/mbps_zones "1525 5195 11863 13763"
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/sample_ms 4
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/io_percent 34
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/hist_memory 20
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/hyst_length 10
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/low_power_ceil_mbps 0
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/low_power_io_percent 34
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/low_power_delay 20
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/guard_band_mbps 0
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/up_scale 250
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/idle_mbps 1600

    write /sys/class/devfreq/soc:qcom,memlat-cpu0/governor "mem_latency"
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/polling_interval 10
    write /sys/class/devfreq/soc:qcom,memlat-cpu2/governor "mem_latency"
    write /sys/class/devfreq/soc:qcom,memlat-cpu2/polling_interval 10
    write /sys/class/devfreq/soc:qcom,mincpubw/governor "cpufreq"

   # Set thermal restrictions
    write /sys/kernel/msm_thermal/enabled 0
    write /sys/kernel/msm_thermal/zone0 "1401600 1785600 40 38"
    write /sys/kernel/msm_thermal/zone1 "1324800 1555200 41 40"
    write /sys/kernel/msm_thermal/zone2 "1228800 1478400 42 41"
    write /sys/kernel/msm_thermal/zone3 "1228800 1401600 43 42"
    write /sys/kernel/msm_thermal/zone4 "1190400 1324800 44 43"
    write /sys/kernel/msm_thermal/zone5 "1190400 1248000 46 44"
    write /sys/kernel/msm_thermal/zone6 "1113600 1190400 48 46"
    write /sys/kernel/msm_thermal/zone7 "1036800 940800 53 50"
    write /sys/kernel/msm_thermal/zone8 "729600 729600 65 60"
    write /sys/kernel/msm_thermal/sampling_ms 8000
    write /sys/kernel/msm_thermal/enabled 1

    # Enable UFS powersaving
    write /sys/devices/soc/${ro.boot.bootdevice}/clkscale_enable 1
    write /sys/devices/soc/${ro.boot.bootdevice}/clkgate_enable 1
    write /sys/devices/soc/${ro.boot.bootdevice}/${ro.boot.bootdevice}:ufs_variant/pm_qos_enable 1

    # Enable all LPMs by default
    # This will enable C4, D4, D3, E4 and M3 LPMs
    write /sys/module/lpm_levels/parameters/sleep_disabled "N"

    # Set idle GPU to 133 Mhz
    write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 6

    # Enable Adaptive LMK
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    write /sys/module/lowmemorykiller/parameters/vmpressure_file_min 81250

    # Set perfd properties
    setprop sys.post_boot.parsed 1

    setprop sys.io.scheduler "bfq"
    # update cpusets now that boot is complete and we want better load balancing
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/foreground/boost/cpus 0-2
    write /dev/cpuset/foreground/cpus 0-2
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/system-background/cpus 0-2

on charger
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/module/msm_thermal/core_control/cpus_offlined 14
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "powersave"
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    # Enable UFS powersaving
    write /sys/devices/soc/${ro.boot.bootdevice}/clkscale_enable 1
    write /sys/devices/soc/${ro.boot.bootdevice}/clkgate_enable 1
    write /sys/devices/soc/${ro.boot.bootdevice}/${ro.boot.bootdevice}:ufs_variant/pm_qos_enable 1
    write /sys/module/lpm_levels/parameters/sleep_disabled 0
    start dashd

on property:init.svc.recovery=running
    trigger enable-low-power

on property:sys.boot_completed=1
    trigger enable-low-power
